body {
  margin: 0px;
  text-align: center;
  font-family: font-family: 'Merriweather', serif;
  color: #40514E

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color:  #66BFBF;
  font-size: 5.625rem;
  line-height: 2;
}
h2 {
  font-family: font-family: 'Merriweather', serif;
  font-size: 2rem;
  color:  #66BFBF;
  font-weight: normal;
  padding-top: 10px;
}
h3 {
  font-family: font-family: 'Merriweather', serif;
  color: #11999E;
}
p{
  font-family: font-family: 'Merriweather', serif;
  font-size: 20px;
  color: #40514E;
  line-height: 2;

}
.intro {
  width: 30%;
  margin: auto;
}
.top-container {
  background-color: #E7F6F2;
  position: relative;
  padding-top: 100px;
}
.profile{
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
hr {
  color: #EAF6F6;
  border: dotted 10px ;
  border-bottom: 0px;
  width: 10%;
  margin: 100px auto 100px auto;
}


.bottom-cloud {
  position: absolute;
  left: 600px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right: 700px;
  top: 50px;
}
.emir-foto {
  height: 400px;
  width: 400px;
}
.omg-foto {
  height: 200px;
  width: 200px;
  position: relative;

}
.skills-image{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.dna {
  width: 25%;
  float: right;
  margin-left: 30px;

}
a {
  color: #11999E;
  font-family: font-family: 'Merriweather', serif;
  font-size: 25px;
  text-decoration: none;
  padding: 0px 30px 0 30px;

}
a:hover{
  color: #EAF6F6;
}
.interested {
  color: black;
}
.skill-row{
  width: 50%;
  margin: 200px auto 100px auto;
  text-align: left;
}
.skill-row-1{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}
.contact-me{
  width: 50%;
  margin: auto;

}
.contact-adress{
  background-color: #66BFBF;
  margin-top:  100px;
  margin-bottom: 0px;
  padding: 50px 0px 20px 0px;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
}
